<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCrodi4SgmyIp2ONTHOSJy4DTmTaIodpyI</string>
	<key>GCM_SENDER_ID</key>
	<string>690310763313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.squirestudio.ticattacktoe</string>
	<key>PROJECT_ID</key>
	<string>tic-attack-toe-a0ad8</string>
	<key>STORAGE_BUCKET</key>
	<string>tic-attack-toe-a0ad8.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:690310763313:ios:3b70695734f0484dab1610</string>
</dict>
</plist>